body {
    background-color : beige;
}

h1 {
    color: cornflowerblue;
}

.active {
    color: tomato;
    transition: color .10s ease-in-out;  
}

.sexy-font {
    font-family:'Courier New', Courier, monospace;
}